.dots__container {
    display: flex;
    margin: 0 auto 20px;
    max-width: 200px;
}

.dots {
    margin: 20px auto 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #D9D9D9;
}

.dots:hover {
    cursor: pointer;
    background: rgba(187, 164, 139, 0.50);
}

.active {
    margin: 20px auto 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #A86E30;
}