.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    visibility: visible;
    z-index: 2;
}

.popup_opened {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.popup__content {
    position: relative;
}

.popup__close-button {
    position: absolute;
    background-image: url(../../images/Close-Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    top: -35px;
    right: -33px;
    border: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__image {
    margin: 0;
    padding: 0;
    border-radius: 20px;
    height: 90%;
    width: 100%;
}

/* .slick-prev, .slick-next {
    width: 31px;
    height: 31px;
    background: burlywood;
    border-radius: 50px;
} */

@media screen and (max-width: 460px) {
    .popup__close-button {
        right: 7px;
    }
}