.pattern {
    margin: 128px 50px 0;
    padding: 0;
    min-height: 833px;
    background: #F4F0EC;
    background: #F4F0EC;
    border-radius: 70px;
}

.pattern__container {
    margin: 0;
    padding: 33px 78px 0;
}

.pattern__list {
    list-style-type: none;
    margin: 38px 0 30px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pattern__list-item {
    margin: 0;
    padding: 0;
}

.pattern__list-item:hover {
    cursor: pointer;
    opacity: 0.8;
}

.pattern__image {
    margin: 0;
    padding: 0;
}

.pattern__inform {
    margin: 6px 0 0 11px;
    padding: 0;
}

.pattern__button {
    margin: 38px auto 0;
    display: flex;
    width: 443px;
    font-size: 36px;
    letter-spacing: 0.72px;
}

@media screen and (max-width: 1920px) {
    .pattern {
        margin-right: auto;
        margin-left: auto;
        max-width: 1608px;
    }
}

@media screen and (max-width: 1442px) {
    .pattern__swiper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1139px) {
    .pattern {
        margin-top: 50px;
    }

    .pattern__container {
        padding-left: 0;
        padding-right: 0;
    }

    .pattern__list {
        margin-bottom: 0;
    }

    .pattern__button {
        font-size: 28px;
        height: 70px;
    }
}

@media screen and (max-width: 879px) {
    .pattern {
        border-radius: 0;
    }
}

@media screen and (max-width: 499px) {
    .pattern {
        margin-top: 20px;
    }
}