.pattern {
    margin: 128px auto 0;
    padding: 0;
    max-width: 1608px;
    min-height: 769px;
    background: #F4F0EC;
    background: #F4F0EC;
    border-radius: 70px;
}

.pattern__container {
    margin: 0;
    padding: 33px 78px 0;
}

/* .pattern__title {
    margin: 33px 0 0;
    padding: 0;
} */

.pattern__list {
    list-style-type: none;
    margin: 38px 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.pattern__list-item {
    margin: 0;
    padding: 0;
}

.pattern__image {
    margin: 0;
    padding: 0;
}

.pattern__inform {
    margin: 6px 0 0 11px;
    padding: 0;
}

.pattern__button {
    margin: 38px auto 0;
    display: flex;
    width: 443px;
    font-size: 36px;
    letter-spacing: 0.72px;
}

@media screen and (max-width: 1444px) {}