.header {
    margin: 43px 70px 0 337px;
    padding: 0;
    height: 97px;
}

.header__container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__menu-mobile {
    display: none;
}


.header__logo {
    margin: 0 132px 0 0;
    padding: 0;
}

.header__menu {
    margin: 0;
    padding: 0;
    height: 48px;
    display: flex;
}

.header__lists {
    list-style: none;
    margin: 9px 0 0 0;
    padding: 0;
    display: flex;
    height: 48px;
    justify-content: center;
}

.header__link {
    margin: 0 54px 0 0;
    padding: 0;
}

.header__link:last-child {
    margin-right: 19px;
}

.header__link-item {
    color: #292F36;
    text-decoration: none;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin: 0;
    padding: 0;
}

.header__link-item:hover {
    cursor: pointer;
    color: #925514;
}

.header__link-item_active {
    border-bottom: 1px solid #A86E30;
    padding-bottom: 12px;
    color: #925514;
}

.header__seach {
    margin: 0 189px 0 0;
    padding: 0;
}

.header__seach-image:hover {
    cursor: pointer;
    opacity: 0.5;
}

.header__sign {
    margin: 0;
    padding: 0;
    display: flex;
}

.header__sign-image {
    margin: 0 6px 0 0;
    padding: 0;
}

.header__sign-button {
    border: none;
    background-color: transparent;
    font-family: Jost;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    color: #CDA274;
}

.header__sign-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.header__slesh {
    color: #CDA274;
}

@media screen and (max-width: 1919px) {
    .header {
        margin-left: 200px;
    }

    .header__container {
        margin: 0 auto;
    }

    .header__logo {
        margin-right: 40px;
    }

    .header__seach {
        margin-right: 90px;
    }

}

@media screen and (max-width: 1440px) {
    .header {
        margin-left: 70px;
    }

    .header__logo {
        margin-right: 30px;
    }

    .header__seach {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1260px) {
    .header {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 22px;
        height: 69px;
    }

    .header__container {
        justify-content: space-between;
    }


    .header__menu-mobile {
        display: flex;
        margin-right: 62px;
        position: relative;
    }

    .header__menu-button {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    .header__menu-button:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .header__menu-image {
        width: 53px;
        height: 33px;
    }

    .header__logo {
        margin-right: 0;
    }

    .header__logo-image {
        width: 151px;
        height: 41px;
    }

    .header__menu {
        display: none;
    }

    .header__seach {
        display: none;
    }

    .header__sign {
        flex-direction: column;
    }

    .header__sign-image {
        margin-right: 0;
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 35px;
    }

    .header__sign-container {
        display: flex;
        align-items: center;
    }

    .header__sign-button {
        font-size: 12px;
    }
}

@media screen and (max-width: 759px) {
    .header__container {
        justify-content: none;
    }

}

@media screen and (max-width: 426px) {
    .header__container {
        justify-content: space-between;
    }

    .header__logo {
        display: none;
    }

    .header__menu-mobile {
        margin-right: 5px;
    }
}