.register {
    margin: 0;
    padding: 70px 307px 56px;
    background: #F4F0EC;
}

.register__navigate {
    font-size: 35px;
}

.register__title {
    text-align: center;
    margin: 0 auto 85px;
    font-size: 40px;
}

.register__form {
    margin: 0 auto;
    padding: 40px 0 59px;
    max-width: 982px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    border: 1px solid #B7BAC1;
}

.register__span {
    margin: 0 0 40px 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    color: #FF4062;
    visibility: visible;

}

.register__span_hidden {
    opacity: 0;
    margin: 0 0 33px 0;
}

.register__form-input {
    margin: 0;
    padding: 0 0 0 15px;
    width: 535px;
    height: 52px;
    font-family: 'DM Serif Display', 'Regular', sans-serif;
    font-size: 30px;
    border-radius: 18px;
    border: 1px solid #B7BAC1;
}

.register__form-input:focus {
    background: #DFE3E6;
}

.register__form-input::placeholder {
    color: #E0BE99;
    font-family: 'DM Serif Display', 'Regular', sans-serif;
    font-size: 30px;
    padding: 0 0 0 10px;
}

.register__button-submit {
    margin: 0 0 40px;
    padding: 0;
    min-height: 52px;
    background: #CDA274;
    border-radius: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    width: 535px;
    border: none;
}

.register__button-submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

.register__button-submit_inactive {
    width: 535px;
    margin: 0 0 16px;
    padding: 0;
    min-height: 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    background: #F8F8F8;
    opacity: 0.8;
    border-radius: 18px;
}

.register__text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: black;
    max-width: 459px;
    font-family: 'DM Serif Display', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.register__enter {
    margin: 0 auto;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 125%;
    text-align: center;
    color: #CDA274;
    text-decoration: none;
    min-width: 203px;
    font-family: 'Jost';
    height: 52px;
}

.register__enter:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 1290px) {
    .register {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }


    .register__form {
        max-width: 650px;
        /* width: 100%; */

    }

    .register__button-submit_inactive {
        min-width: -webkit-fill-available;
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media screen and (max-width: 620px) {
    .register__navigate {
        font-size: 16px;
    }

    .register__title {
        margin-bottom: 42px;
        font-size: 23px;
    }

    .register {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }

    .register__form {
        margin: 0;
    }

    .register__form-input {
        width: -webkit-fill-available;
        border-radius: 9px;
        font-size: 25px;
    }

    .register__button-submit {
        min-width: -webkit-fill-available;
        width: 100%;
    }

    .register__button-submit_inactive {
        width: auto;
    }
}

@media screen and (max-width: 380px) {
    .register__enter {
        font-size: 30px;
    }
}