.comments {
    margin: 0 20px 0;
    padding: 53px 0 0;
}

.comments__block {
    margin: 0 80px 0;
    padding: 0;
}

.comments__page {
    text-decoration: none;
}


.comments__content {
    margin: 0 auto;
    padding: 0;
    min-height: 535px;
    width: 100%;
    background: #F4F0EC;
    border-radius: 80px;
}

.comments__container {
    margin: 0 0 50px;
    padding: 0;
}

.comments__swiper {
    margin: 0;
    padding: 0;
}

.commets__cards {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.comment__card {
    margin: 0;
    padding: 0;
    width: 425px;
    min-height: 163px;
}

.comment__personal {
    margin: 0 0 11px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.comment__personal:hover {
    cursor: pointer;
}

.comment__link {
    margin: 0;
    padding: 0;
}

.comment__link-avatar {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 58px;
    border-radius: 50%;
}

.comment__name {
    margin: 0;
    padding: 0;
    color: var(--style-name-title, #292F36);
    font-family: 'DM Serif Display', 'Arial', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.5px;
    display: flex;
    width: 179.184px;
    height: 26.164px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.comment__info {
    margin: 0;
    padding: 0;
}

.comment__info-text {
    margin: 0 0 13px;
    padding: 0;
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
}

.comment__info-marka {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.comment__info-marka:hover {
    cursor: pointer;
    color: #925514A6;
}

.comments__over {
    margin-left: auto;
    margin-right: auto;
    width: 304px;
}

.comments__buttons {
    margin-top: 30px;
}

.com-model__block {
    padding: 0 0 66px;
}

.com-model__name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Jost', 'Arial', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.46px;
    border-radius: 18px;
    background: #E0BE99;
    box-shadow: 15px 15px 20px 0px rgba(192, 192, 192, 0.35);
    width: 286px;
    height: 34px;
    padding: 0;
    margin: 0 auto;
    border: none;
}

.com-model__form {
    height: 229px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 19px 0 0 40px;
    border-radius: 30px;
    border: none;
    border: 1px solid var(--style-orange-comments-like, #A86E30);
    background: #F4F0EC;
    max-width: 760px;
    display: flex;
    position: relative;
}

.com-model__avatar {
    width: 66px;
    height: 66px;
    border-radius: 66px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px;
}

.com-model__avatar:hover {
    cursor: pointer;
    opacity: 0.5;
}

.com-model__comment {
    border-radius: 30px;
    border: none;
    border-left: 1px solid var(--style-orange-comments-like, #F2E4CF);
    background: transparent;
    width: 70%;
    margin: 0;
    padding: 20px 0 0 30px;
    outline-color: #A86E30;
}

.commentSend {
    height: 90px;
    content: "";
    right: -3px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -7px;
    width: 90px;
}

.commentSend:hover {
    cursor: pointer;
    opacity: 0.5;
}


.com-model__add-personal {
    margin: 76px 0 0 68px;
    padding: 0;
    display: flex;
}

.com-model__add-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.com-model__add-info {
    margin: 0;
    padding: 0;
}

.com-model__add-name {
    margin: 0;
    padding: 0;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Jost;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.46px;
}

.com-model__add-text {
    margin: 5px 0 0 10px;
    padding: 0;
    color: #4D5053;
    font-family: Jost;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.46px;
}

.com-model__add-answer {
    margin: 15px 0 0 10px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 37px
}

.com-model__add-answer:hover {
    cursor: pointer;
    opacity: 0.5;
}

.com-model__add-personal_active {
    margin: 66px 0 0 144px;
    padding: 0;
}

.com-model__answer {
    width: 99px;
    height: 23px;
    justify-content: center;
    flex-shrink: 0;
    color: var(--style-orange-comments-like, #A86E30);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Jost', 'Arial', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.46px;
}

.com-model__button-add {
    margin: 66px auto 0;
    padding: 0;
    display: flex;
    width: 286px;
    height: 68px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    background: #E0BE99;
    box-shadow: 15px 15px 20px 0px rgba(192, 192, 192, 0.35);
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Jost;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.46px;
    border: none;
}

@media screen and (max-width: 1920px) {
    .comments {
        margin: 0 20px 0;
        padding: 53px 0 0;
    }

    .comments__content {
        margin: 0 auto;
        padding: 0;
        max-width: 1608px;
        background: #F4F0EC;
        border-radius: 80px 80px 0 0;
    }

}

@media screen and (max-width: 1399px) {
    .comments {
        margin-left: 0;
        margin-right: 0;
    }

    .comments__block {
        margin-left: 20px;
        margin-right: 20px;
    }


}


@media screen and (max-width: 879px) {
    .comments__content {
        border-radius: 0;
    }

    .com-model__form {
        margin-left: auto;
        margin-right: auto;
    }

    .com-model__comment {
        width: 60%;
    }

    .com-model__add-name {
        font-size: 20px;
    }

    .com-model__add-text {
        font-size: 16px;
        margin-top: 15px;
        letter-spacing: 0.32px;
        color: #4D5053;
    }

    .commentSend {
        width: 70px;
        height: 70px;
    }

    .com-model__add-personal {
        margin-left: 20px;
        margin-right: 20px;
    }

    .com-model__add-personal_active {
        margin-top: 20px;
        margin-left: 63px;
    }

    .com-model__avatar {
        margin-top: 0;
        margin-bottom: 0;
    }

    .com-model__add-text {
        margin-left: 0;
    }

    .com-model__answer {
        font-size: 16px;
    }
}

@media screen and (max-width: 560px) {
    .com-model__form {
        height: 150px;
    }

    .com-model__comment {
        padding-left: 15px;
    }


    .com-model__avatar {
        margin-left: 0;
        margin-right: 0;
        width: 50px;
        height: 50px;
    }

    .commentAnswer {
        width: 35px;
        height: 35px;
    }

    .commentSend {
        width: 60px;
        width: 60px;
    }

    .com-model__add-personal {
        margin-left: 0;
        margin-right: 0;
    }

    .com-model__add-personal_active {
        margin-left: 15px;
    }

    .com-model__add-info {
        margin-left: 10px;
    }

    .com-model__add-name {
        font-size: 15px;
        letter-spacing: 0.3px;
    }
}