.comments {
    margin: 0 20px 0;
    padding: 53px 0 0;
}

.comments__block {
    margin: 0 80px 0;
    padding: 0;
}

.comments__content {
    margin: 0 auto;
    padding: 0;
    min-height: 535px;
    width: 100%;
    background: #F4F0EC;
    border-radius: 80px;
}

.comments__container {
    margin: 0 0 50px;
    padding: 0;
}

.comments__swiper {
    margin: 0;
    padding: 0;
}

.commets__cards {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.comment__card {
    margin: 0;
    padding: 0;
    width: 425px;
    min-height: 163px;
}

.comment__personal {
    margin: 0 0 11px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.comment__personal:hover {
    cursor: pointer;
}

.comment__link {
    margin: 0;
    padding: 0;
}

.comment__link-avatar {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 58px;
    border-radius: 50%;
}

.comment__name {
    margin: 0;
    padding: 0;
    color: var(--style-name-title, #292F36);
    font-family: 'DM Serif Display', 'Arial', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.5px;
    display: flex;
    width: 179.184px;
    height: 26.164px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.comment__info {
    margin: 0;
    padding: 0;
}

.comment__info-text {
    margin: 0 0 13px;
    padding: 0;
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
}

.comment__info-marka {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.comment__info-marka:hover {
    cursor: pointer;
    color: #925514A6;
}

.comments__over {
    margin-left: auto;
    margin-right: auto;
    width: 304px;
}

.comments__buttons {
    margin-top: 30px;
}

@media screen and (max-width: 1920px) {
    .comments {
        margin: 0 20px 0;
        padding: 53px 0 0;
    }

    .comments__content {
        margin: 0 auto;
        padding: 0;
        max-width: 1608px;
        background: #F4F0EC;
        border-radius: 80px 80px 0 0;
    }

}

@media screen and (max-width: 1399px) {
    .comments {
        margin-left: 0;
        margin-right: 0;
    }

    .comments__block {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 879px) {
    .comments__content {
        border-radius: 0;
    }
}