.news {
    margin: 0;
    padding: 0;
}

.news__container {
    margin: 0 155px 0;
    padding: 0;
    min-height: 796px;
    align-items: center;
    gap: 52px;
}

.news__container-text {
    margin: 20px 0 0;
    padding: 0;
}

.news__title {
    margin: 0 auto;
    padding: 0;
    color: var(--style-name-title, #292F36);
    text-align: center;
    font-family: 'DM Serif Display', 'Arial', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 4.43px;
}

.news__subtitle {
    margin: 13px 0 0;
    padding: 0;
    color: #4D5053;
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
}


.news__cards-list {
    margin: 51px 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.news__cards {
    margin: 0 25px 0 0;
    border-radius: 62px;
    border: 1px solid #E7E7E7;
    background: #F4F0EC;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    display: inline-flex;
    padding: 21px;
    align-items: flex-start;
    gap: 10px;
    display: inline-block;
    /* Строчно-блочный элемент */
    overflow: hidden;
}

.news__card {
    margin: 0;
    padding: 0;
    display: flex;
    /* width: 340px;
    height: 594px; */
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card__image {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 740px;
    border-radius: 45px 45px 0 0;
    transition: 1s;
    /* Время эффекта */
    display: block;
}

.card__image:hover {
    transform: scale(1.15);
}

.card__inform {
    margin: 15px 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.card__inform-name {
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.card__inform-katalog {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.card__inform-price {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.card__more {
    margin: 0;
    padding: 0;
    display: flex;
    width: 221px;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.new__more-link {
    text-decoration: none;
    display: inline-block;
    /* Строчно-блочный элемент */
    overflow: hidden;
    /* Скрываем всё за контуром */
}

.card__more-katalog {
    margin: 0;
    padding: 0;
    display: flex;
    width: 93px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #4D5053;
    font-family: 'Jost';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
    text-transform: capitalize;
}



.card__more-button-katalog {
    margin: 0;
    padding: 0;
    background-image: url(../../images/card__more-button-katalog.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 52px;
    height: 52px;
    border-radius: 50px;
    border: none;
}

.card__more-katalog:hover, .card__more-button-katalog:hover {
    cursor: pointer;
}

.card__more-katalog:hover {
    color: #824504;
    border: none;
}

.card__more-button-katalog:hover {
    background-image: url(../../images/detiled-hover.png);
}

.news__button {
    margin: 55px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.news__button-vector {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background: #BBA48B;
    width: 52px;
    height: 52px;
    border: none;
}

.news__button-vector:hover, .news__button-right:hover {
    cursor: pointer;
    opacity: 0.5;
}

.news__button-left {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1919px) {
    .news__container {
        margin-right: 80px;
        margin-left: 80px;
    }


    .news__cards-list {
        row-gap: 25px;
        column-gap: 50px;
        display: grid;
    }

    .news__cards {
        margin-right: 0;
        margin-bottom: 0;
    }

    .news__card {
        width: 100%;
    }

    .card__image {
        width: 100%;
    }

}

@media screen and (max-width: 1570px) {
    .news__container {
        margin-right: 60px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 979px) {
    .news__container {
        margin-right: 0;
        margin-left: 0;
    }

    .news__card {
        height: 500px;
    }

    .card__image {
        height: 300px;
    }
}

@media screen and (max-width: 499px) {
    .news__title {
        font-size: 30px;
    }

    .news__button {
        gap: 32px;
    }
}