.slide {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../../images/slide1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1042px;
    border-radius: 0 0 0 25%;
}

.slide__container {
    margin: 0 123px 0;
    padding: 0;
}

.slide__title {
    margin: 0;
    padding: 45px 0 0;
    display: flex;
    width: 587px;
    height: 319px;
    flex-direction: column;
    justify-content: center;
    text-shadow: 20px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'DM Serif Display';
    font-size: 116px;
    font-style: normal;
    font-weight: 400;
    line-height: 99%;
    background: linear-gradient(101deg, #000 45.8%, rgba(0, 0, 0, 0.00) 141.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slide__subtitle {
    margin: 60px 0 0;
    padding: 0;
    color: #000;
    font-family: Jost;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.34px;
    max-width: 426px;
}

.slide__button-katalog {
    margin: 21px 0 0;
    padding: 0;
    display: flex;
    width: 370px;
    height: 96px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background: var(--style-name-title, #292F36);
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 125%;
    letter-spacing: 0.54px;
    border: none;
}

.slide__button-katalog:hover {
    cursor: pointer;
    background: rgba(41, 47, 54, 0.70);
}

.slide__vector {
    width: 15.141px;
    height: 13.177px;
    stroke-width: 2px;
    stroke: #CDA274;
    margin-left: 10px;
}

@media screen and (max-width: 1919px) {
    .slide {
        height: 644px;
    }

    .slide__container {
        margin-left: 200px;
        margin-right: 70px;
    }

    .slide__title {
        font-size: 100px;
        padding-top: 0;
        height: 265px;
    }

    .slide__subtitle {
        margin-top: 0;
    }
}

@media screen and (max-width: 1260px) {
    .slide {
        height: 533px;
    }

    .slide__container {
        margin-left: 150px;
        margin-right: 150px;
    }

    .slide__title {
        font-size: 74px;
        padding-top: 0;
        height: 210px;
        display: flex;
        align-items: center;
        max-width: 376px;
    }

    .slide__subtitle {
        margin-top: 0;
        font-size: 26px;
    }
}

@media screen and (max-width: 759px) {
    .slide {
        border-radius: 0;
    }

    .slide__container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .slide__title {
        font-size: 66px;
        max-width: 249px;
        text-align: center;
        margin: 0 auto;
    }

    .slide__subtitle {
        margin-top: 50px;
    }

    .slide__button-katalog {
        margin: 36px auto 0;
        max-width: 261px;
        height: 49px;
        border-radius: 18px;
        background: var(--style-name-title, #292F36);
        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    }
}